  * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing:border-box;
    text-align: center;
  }

  html,body{
    overflow-x:auto;
  }
  
  @media only screen and (min-width: 375px) and (max-width: 667px) {
    body {
      flex-direction: column;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    min-width:100%;
    padding: 2%;
    background-color: #05d0c6;
    color: #fff;
  }

  @media only screen and (min-width: 375px) and (max-width: 667px) {
    header {
      flex-direction: column;
    }
  }
  
  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
    }

  h1 {
    font-size: 400%;
    min-width:100%;
    margin: 0;
    text-align: left;
  }

  h2 {
    margin: 2% 0;
    font-size: 300%;
    color:rgb(3, 117, 117);
    font-weight: normal;
    text-align: center;
  }

  h3 {
    font-size: 200%;
  }

  h4 {
    font-size: 125%;
    font-weight: normal;
  }
  
  nav {
    margin-left: auto;
    margin-top: auto;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    min-width: 300px;
    max-width: fit-content;
  }
  
  

  nav a {
    color: darkblue;
    font-weight: bold;
    text-decoration:none;
  }

  nav a:active {
    color: blue;
    text-decoration:underline;
  }

  nav a:hover {
    color: #fff;
  }

  main {
    margin: 2% auto;
  }

  article p {
    text-align: center;
    line-height: 130%;
    font-size: 140%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  aside {
    max-width:10%;
    text-align: center;
    background-color: aliceblue;
  }
  
  aside h3 {
    font-size: 125%;
    color:rgb(10, 82, 90) ;
    font-weight: bold;
    margin-bottom: 40%;
  }  

  aside h4 {
    font-size: 100%;
    margin: 40% 0%;
    color:darkblue;
  }
  
  @media only screen and (max-width: 667px) {
    .aside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 15%;
  }
  }

  .aside-container {
    margin-right: 2%;
    padding: 20px;
    clear: both;
    float: right;
    height: 100%;
    background-color:#05d0c629;
  } 

  .about-me-container  {
    max-width: 82%;
    min-width: 10%;
    margin: 1% 1%  
  }

  .font-weight {
    font-weight: bold;
  }

  .border {
    border-bottom: 5px solid #05d0c6;
    margin-top: 15%;
  }

  .border-above {
    border-top: 5px solid #05d0c6;
    margin: 5% 2%;
  }

  
  .profile-image {
    height: 140px;
    width: 140px;
    padding: 0%;
  }

  .dandelion {
    height:300px;
    min-width:100%;
    background-size: cover;
    margin-block: 0%;
    background-repeat: no-repeat;
    background-image: url("../images/dandelion-445228_1280.jpg")
  }

  .bright-hover {
    filter:brightness(1);
    transition: filter 0.3s;

    &:hover {
      filter: brightness(1.5);
  }

  .main-image {
    display: relative;
    position: relative;
    }
  }

  .main-image img {
    height: 500px;
    width: 100%;
    border: 6px solid #05d0c6;
    position: relative;
  }
  
  /* @media only screen and (min-width: 375px) and (max-width: 812px) {
    #main-image figcaption {
      position:absolute;
      font-size: 32px;
      padding:5px;
      
    }
    
  } */

  .main-image figcaption {
    position:absolute;
    bottom: 10%;
    font-size: 32px; 
    max-width: 45%; 
    font-weight: bold;
    background-color: rgba(3, 76, 76, 0.7);
    padding: 1%;
    border: 3px solid #013835;
    color:aliceblue
  }

  

  #small-container {
      display:inline-flex;
      flex-direction: column;
      place-items: center;
      padding: 1%;   
      position:relative;           
    }

  #small-container img {
    height:500px;
    max-width:75%;
    border: 6px solid #05d0c6;
    border-radius: 30px 30px;
    position: relative;
    align-items: center;

    filter:brightness(1);
    transition: filter 0.3s;

    &:hover {
      filter: brightness(1.5);
    }
  }

  @media only screen and (max-width: 667px) {
    #small-container figcaption {
      font-size: 16px;
      padding:5px;
    }
    
  }
  #small-container figcaption {
    position:absolute;
    bottom:15%;
    left:15%;
    max-width: 45%;
    font-size: 32px;  
    font-weight: bold;
    background-color: rgba(3, 76, 76, 0.7);
    padding:1%;
    border: 3px solid #013835;
    color:aliceblue
  }

  .bottom-container {
    display: flex;
    justify-content: space-between;
    background-color: #effbfa;
    padding: 20px;
  }

  @media only screen and (max-width: 667px) {
    .bottom-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      }
    }
        

  .column {
    flex: 1;
    padding: 1%;
    background-color: #fff;
    border: 3px solid #effbfa;
  }

  .column h3 {
    font-size: 200%;
    color:rgb(3, 117, 117);
    background-color: #fff;
    margin: 0;
  }

  .column p {
    margin: 5% 0%;
    color:#013835;
  }
  