  * {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing:border-box
  }
  @media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 768px) {
    #repos {
      flex-direction:column;
    }
  }

  header {
    display: flex;
    align-items: center;
    padding: 2%;
    background-color: #05d0c6;
    color: #fff;
  }

  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
  } 
  }
  h1 {
    /* display: inline-flex; */
    font-size: 400%;
    margin: 0;
  }

  h2 {
    margin: 2% 0;
    font-size: 300%;
    color:rgb(3, 117, 117);
    font-weight: normal;
    text-align: center;
  }

  h3 {
    font-size: 200%;

  }

  h4 {
    font-size: 125%;
    font-weight: normal;
    
  }
  
  nav ul {
    display: flex;
    justify-content:space-between;
    min-width: 300px;
    
  }
  
  nav {
    margin-left: auto;
    margin-top: auto;
  }

  nav a {
    color: darkblue;
    font-weight: bold;
    text-decoration:none;
  }

  nav a:active {
    color: blue;
    text-decoration:underline;
  }

  nav a:hover {
    color: #fff;
  }

  main {
    display: flex;
    max-width: 96%;
    margin: 2% auto;
  }

  article p {
    margin:1%;
    text-align: center;
    font-size: 110%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  aside {
    margin: 10% 5% 75% 10%;
    padding: 25px;
    text-align: center;
    background-color: aliceblue;
  }
  
  aside h3 {
    color:rgb(10, 82, 90) ;
    font-weight: bold;
    text-align: center;
    margin-bottom: 35px;
  }  

  aside h4 {
    margin-bottom: 50px;
    color:darkblue
  }

  .about-me {
    display: flex;
    flex-direction: column;
    line-height: 1.4;
  }
  
  .border {
    border-bottom: 5px solid #05d0c6;
    padding: 35px;
  }
  
  .profile-image {
    height: 140px;
    width: 140px;
    padding: 0%;
  }

  .dandelion {
    height:300px;
    width:100%;
    background-size: cover;
    margin-block: 0%;
    background-repeat: no-repeat;
    background-image: url("../images/dandelion-445228_1280.jpg")
  }

  .body-of-work {
    padding: 35px;
  }

  #repos {
    margin: 0;
    padding: 0; 
  }

  #repos img {
    border: 6px solid #05d0c6;
  }


  .image-container {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .small-container {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-left: 38px;
  }

  .main-image,
  .gold-lights,
  .grey-lights,
  .pink-lights,
  .blue-lights {
    position: relative; 
  }

  .main-image {
    max-width: 100%;
    height: 500px;
    width: 100%;
    margin: 10px 10px 20px 20px;
    
  }

  .main-image img {
    display: flex;
    width: 100%;
    height:100%;
    border-radius: 30px 30px;
  }

  .main-image figcaption {
    position:absolute;
    top: 85%;
    left: 3%;
    font-size: 300%;
    font-weight: bold;
    background-color: rgba(3, 76, 76, 0.7);
    padding:4px;
    border-top: 3px solid #013835;
    border-bottom: 3px solid #013835;
    color:aliceblue
  }

  .gold-lights {
    max-width: 100%;
    height: 500px;
    width: 45%;
    margin: 10px 10px 20px 20px;
  }

  .gold-lights img {
    /* display: inline-flex; */
    width: 100%;
    height:100%;
    border-radius: 30px 30px;
  }

  .gold-lights img:hover {
    background-color: aliceblue;
  }
 
  .gold-lights figcaption {
    position:absolute;
    top: 85%;
    left: 3%;
    font-size: 175%;
    font-weight: bold;
    background-color: rgba(3, 76, 76, 0.7);
    padding:4px;
    border-top: 3px solid #013835;
    border-bottom: 3px solid #013835;
    color:aliceblue
  }

  .grey-lights {
    max-width: 100%;
    height: 500px;
    width: 45%;
    margin: 10px 10px 20px 20px;
  }

  .grey-lights img {
    /* display: inline-block; */
    width: 100%;
    height:100%;
    border-radius: 30px 30px;
  }

  .grey-lights img:hover {
    background-color: aliceblue;
  }
 
  .grey-lights figcaption {
    position:absolute;
    top: 85%;
    left: 3%;
    font-size: 175%;
    font-weight: bold;
    background-color: rgba(3, 76, 76, 0.7);
    padding:4px;
    border-top: 3px solid #013835;
    border-bottom: 3px solid #013835;
    color:aliceblue
  }

  .pink-lights {
    max-width: 100%;
    height: 500px;
    width: 45%;
    margin: 10px 10px 20px 20px;
  }

  .pink-lights img {
    /* display: inline-block; */
    width: 100%;
    height:100%;
    border-radius: 30px 30px;
  }
/* TO DO: Fix this bug */
  .pink-lights img:hover {
    transform: scale(1);
    opacity: 1;
  }
 
  .pink-lights figcaption {
    position:absolute;
    top: 85%;
    left: 3%;
    font-size: 175%;
    font-weight: bold;
    background-color: rgba(3, 76, 76, 0.7);
    padding:4px;
    border-top: 3px solid #013835;
    border-bottom: 3px solid #013835;
    color:aliceblue
  }

  .blue-lights {
    max-width: 100%;
    height: 500px;
    width: 45%;
    margin: 10px 10px 20px 20px;
  }

  .blue-lights img {
    /* display: inline-block; */
    width: 100%;
    height:100%;
    border-radius: 30px 30px;
  }

  .blue-lights img:hover {
    background-color: aliceblue;
  }
 
  .blue-lights figcaption {
    position:absolute;
    top: 85%;
    left: 3%;
    font-size: 175%;
    font-weight: bold;
    background-color: rgba(3, 76, 76, 0.7);
    padding:4px;
    border-top: 3px solid #013835;
    border-bottom: 3px solid #013835;
    color:aliceblue
  }

  footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
  }